html{
  cursor: url('img/stickmancursor.png'), pointer;
}

.container {
    display: flex;
  align-items: center;
  justify-content: center;

}

#MainPageH2, #MainPageP2 {
  text-align: center;
}

.centered {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom{
  position: absolute;
  bottom: 8px;
  left: 50%;
}

a {
  color:aliceblue;
}

.raceCarText{
  color:green;
}